{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        <h1 class="main__title">
            <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
            <p class="main__title-text">{% trans "Confirm E-mail Address" %}</p>
        </h1>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p class="main__message">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
            {{ user_display }}.{% endblocktrans %}
        </p>

        <form class="main__form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="main__primaryAction" type="submit">{% trans 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p class="main__message">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                href="{{ email_url }}">issue a
                new
                e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
</main>
{% endblock %}