{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign Out" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/logout/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
  <div class="main__inner">
    <h1 class="main__title">
      <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
      <p class="main__title-text">Sign Out</p>
    </h1>
    <p class="main__message">{% trans 'Are you sure you want to sign out?' %}</p>
    <form class="main__form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input class="main__input" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="main__primaryAction" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</main>
{% endblock %}