{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        <h1 class="main__title">
            <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
            <p class="main__title-text">Password Reset</p>
        </h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="main__message">パスワードリセット確認用メールを送信しました。</p>
        <p class="main__message">メールが届かない場合は、迷惑メールフォルダをご確認ください。</p>
        <p class="main__message">数分待ってもメールが届かない場合は、お手数おかけしますが、<a>こちら</a>からお問い合わせいただくようお願い致します。</p>
    </div>
</main>
{% endblock %}