{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        <div id="focus"></div>
        <h1 class="main__title">
            <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
            <p class="main__title-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}Change Password{% endif %}
            </p>
        </h1>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="main__message">
            {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>
        {% else %}
        <form class="main__form" method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <input class="main__input" type="password" name="password1" placeholder="新しいパスワード"
                autocomplete="new-password" required="" id="id_password1">
            <input class="main__input" type="password" name="password2" placeholder="新しいパスワード（再入力）" required=""
                id="id_password2">
            <input class="main__primaryAction" type="submit" name="action" value="{% trans 'change password' %}" />
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}