{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        <div id="focus"></div>
        <h1 class="main__title">
            <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
            <p class="main__title-text">Password Reset</p>
        </h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="main__message">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset main__form">
            {% csrf_token %}
            <input class="main__input" type="email" name="email" placeholder="メールアドレス" autocomplete="email" required=""
                id="id_email">
            <input class="main__primaryAction" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <!--
        <p class="main__message">
            {% trans "Please contact us if you have any trouble resetting your password." %}
        </p>
        -->
    </div>
</main>
{% endblock %}