@charset "UTF-8";

html {
  font-size: 10px;
}

.body {
  height: 100vh;
  width: 100vw;
  font-family: $font-family-open;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
