{% extends "base.html" %}
{% load static %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'accounts/css/login/style.css' %}">
<title>ログイン - カラムポート(Column Port)</title>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block main %}
<div id="focus"></div>
<h2 class="main__title">
    <img class="main__title-image" src="{% static 'images/column_port_title.svg' %}" alt="Column Port">
    <p class="main__title-text">Login</p>
</h2>
<form class="main__form" action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <input class="main__form-input" type="text" name="email" id="email" placeholder="メールアドレス">
    <input class="main__form-input" type="text" name="password" id="password" placeholder="パスワード">
    <button class="main__form-btn" type="submit">ログイン</button>
</form>
<a class="main__form-if" src="">パスワードをお忘れの方はこちら</a>
<div class="main__signup">
    <p class="main__signup-check">まだアカウントをお持ちではありませんか？</p>
    <a class="main__signup-link" href="{% url 'signup' %}">アカウント登録はこちら</a>
</div>
{% endblock %}