@charset "UTF-8";

.main {
  width: 100%;
  height: auto;

  .nav {
    width: 240px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    border-right: 1px solid $clr-bd04;
    font-size: 1.5rem;
    background-color: $clr-bg02;

    .nav__item {
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid $clr-bd04;
    }

    .nav__title {
      display: inline-block;
      padding-right: 15px;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      color: $clr-font01;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: calc(50% - 6px);
        width: 8px;
        height: 8px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .nav__sub-list {
      padding: 5px 0 0 5px;

      .nav__sub-item {
        padding: 5px;
      }

      .nav__sub-link {
        text-decoration: none;
        color: $clr-font01;
      }
    }
  }

  .contents {
    background-color: $clr-bg01;
    width: calc(100% - 240px);
    height: auto;
    min-height: calc(100vh - 60px);
    margin-left: 240px;
    padding: 20px;
    position: absolute;
    top: 60px;

    .breadcrumb__list {
      display: flex;
      color: $clr-font03;
      font-size: 2rem;
      margin: 0 0 20px 0;
      padding: 0;

      .breadcrumb__item {
        list-style: none;
        margin-right: 30px;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -22px;
          top: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-top: 2px solid $clr-bd11;
          border-right: 2px solid $clr-bd11;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:first-of-type::after {
          display: none;
        }
      }

      .breadcrumb__link {
        color: $clr-font03;
        text-decoration: none;
      }
    }

    .detail {
      font-size: 1.5rem;
      padding: 40px;
      margin-bottom: 15px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
      background-color: white;
      position: relative;

      .detail__title {
        color: $clr-font04;
        font-size: 2.25rem;
        line-height: 2.25rem;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      .detail__item {
        color: $clr-font03;
        font-size: 1.6rem;
        width: 70%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      .detail__label {
        display: block;
        width: 120px;
        font-weight: bold;
      }

      .detail__input {
        padding: 15px 20px;
        border-radius: 5px;
        transition: 0.3s ease;
        color: $clr-font03;
        display: block;
        width: 70%;
        border: 2px solid $clr-bd05;
        font-size: 1.6rem;
    
        &:placeholder-shown {
          border: 2px solid $clr-bd07;
        }
    
        &::placeholder {
          color: $clr-font03;
        }
    
        &:focus {
          outline: 0;
        }
      }
  
      .detail__submit {
        padding: 7px 10px;
        border-radius: 5px;
        background: $clr-bg09;
        color: $clr-font02;
        width: 100px;
        font-weight: 800;
        font-size: 1.4rem;
        letter-spacing: 1.8pt;
        display: block;
        cursor: pointer;
        position: relative;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    
        &:active {
          -webkit-transform: translate(0, 2px);
          -moz-transform: translate(0, 2px);
          transform: translate(0, 2px);
          border-bottom: none;
        }
      } 
    }

    .keyword {
      font-size: 1.5rem;
      padding: 40px;
      margin-bottom: 15px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
      background-color: white;
      position: relative;

      .keyword__title {
        color: $clr-font04;
        font-size: 2.25rem;
        line-height: 2.25rem;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .keyword__list {
        width: 100%;
        margin-left: 0;
        padding: 0;
      }

      .keyword__item {
        list-style: none;
        border-bottom: 1px dashed $clr-bd05;

        &:first-child {
          font-weight: bold;
          border-bottom: 2px solid $clr-bd05;
        }
      }

      .keyword__item-list {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 40px;
      }

      .keyword__item-item {
        list-style: none;
        margin: 0;
        padding: 5px 10px;

        &.keyword__item-keyword {
          width: 400px;
        }

        &.keyword__item-volume {
          width: 120px;
        }

        &.keyword__item-date {
          width: 150px;
        }
      }

      .keyword__item-input {
        display: block;
        position: absolute;
        left: 20px;
      }

      .keyword__submit {
        padding: 7px 10px;
        border-radius: 5px;
        background: $clr-bg09;
        color: $clr-font02;
        width: 100px;
        font-weight: 800;
        font-size: 1.4rem;
        letter-spacing: 1.8pt;
        display: block;
        cursor: pointer;
        position: relative;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    
        &:active {
          -webkit-transform: translate(0, 2px);
          -moz-transform: translate(0, 2px);
          transform: translate(0, 2px);
          border-bottom: none;
        }
      }
    }
  }

  .keyword-add__btn {
    color: $clr-font03;
    background-color: white;
    font-size: 1.5rem;
    border: solid 2px $clr-bd01;
    border-radius: 10px;
    padding: 10px 25px;
    margin-left: 15px;
    cursor: pointer;

    &:hover {
      border: 2px solid $clr-bd05;
    }
  }

  .keyword-add__form {

    .keyword-add__input {
      padding: 15px 20px;
      border-radius: 5px;
      transition: 0.3s ease;
      color: $clr-font03;
      display: block;
      margin: 30px auto;
      width: 70%;
      border: 2px solid $clr-bd05;
      font-size: 1.6rem;
  
      &:placeholder-shown {
        border: 2px solid $clr-bd07;
      }
  
      &::placeholder {
        color: $clr-font03;
      }
  
      &:focus {
        outline: 0;
      }
    }

    .keyword-add__submit {
      padding: 13px 20px;
      border-radius: 30px;
      background: $clr-bg09;
      color: $clr-font02;
      width: 30%;
      margin: 0 auto 20px;
      font-weight: 800;
      font-size: 1.6rem;
      letter-spacing: 1.8pt;
      display: block;
      cursor: pointer;
      position: relative;
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      border-left: 2px solid rgba(255, 255, 255, 0.2);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  
      &:active {
        -webkit-transform: translate(0, 2px);
        -moz-transform: translate(0, 2px);
        transform: translate(0, 2px);
        border-bottom: none;
      }
    }
  }

  .delete__message,
  .keyword-add__message {
    width: 70%;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 1.8rem;
  }

  .delete__form {

    .delete__input {
      padding: 15px 20px;
      border-radius: 5px;
      transition: 0.3s ease;
      color: $clr-font03;
      display: block;
      margin: 30px auto;
      width: 60%;
      border: 2px solid $clr-bd05;
      font-size: 1.6rem;
  
      &:placeholder-shown {
        border: 2px solid $clr-bd07;
      }
  
      &::placeholder {
        color: $clr-font03;
      }
  
      &:focus {
        outline: 0;
      }
    }

    .delete__submit {
      padding: 13px 20px;
      border-radius: 30px;
      background: $clr-bg09;
      color: $clr-font02;
      width: 30%;
      margin: 0 auto 10px;
      font-weight: 800;
      font-size: 1.6rem;
      letter-spacing: 1.8pt;
      display: block;
      cursor: pointer;
      position: relative;
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      border-left: 2px solid rgba(255, 255, 255, 0.2);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  
      &:active {
        -webkit-transform: translate(0, 2px);
        -moz-transform: translate(0, 2px);
        transform: translate(0, 2px);
        border-bottom: none;
      }
    }
  }

  /*モーダル本体の指定 + モーダル外側の背景の指定*/
  .modal-container{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	background: rgba(255, 255, 255, 0.5);
  	padding: 40px 20px;
  	overflow: auto;
  	opacity: 0;
  	visibility: hidden;
  	transition: .3s;
    box-sizing: border-box;
  }

  /*モーダル本体の擬似要素の指定*/
  .modal-container:before{
  	content: "";
  	display: inline-block;
  	vertical-align: middle;
  	height: 100%;
  }

  /*モーダル本体に「active」クラス付与した時のスタイル*/
  .modal-container.active{
  	opacity: 1;
  	visibility: visible;
  }

  /*モーダル枠の指定*/
  .modal-body{
  	position: relative;
  	display: inline-block;
  	vertical-align: middle;
  	max-width: 500px;
  	width: 90%;
    border-radius: 5px;
    background: linear-gradient(145deg, #d8dce6, #ffffff);
    box-shadow: 11px 11px 22px #dadee8, -11px -11px 22px #ffffff;
    border-top: 10px solid $clr-bd05;
  }

  /*モーダルを閉じるボタンの指定*/
  .modal-close{
  	position: absolute;
  	display: flex;
      align-items: center;
      justify-content: center;
  	top: -40px;
  	right: -40px;
  	width: 40px;
  	height: 40px;
  	font-size: 40px;
  	color: rgb(100, 100, 100);
  	cursor: pointer;
  }

  /*モーダル内のコンテンツの指定*/
  .modal-content{
  	background: #fff;
  	text-align: left;
  	padding: 30px;
  }
}