<article class="graph">
    <h4 class="graph__title">- サイト全体CV数 -</h4>
    <div class="graph__container organic_cv">
        <canvas id="chart_organic_cv" class="graph__chart"></canvas>
    </div>
</article>
{% autoescape off %}
<script>
    ctx_organic_cv = document.getElementById("chart_organic_cv").getContext("2d");

    var data_organic_cv = {
        labels: [
            {% for e in data.labels %}
            {% if forloop.counter > 12 %}
            "{{ e }}",
            {% endif %}
            {% endfor %}
        ],
        datasets: [
            {% if type == 'monthly' %}
            {
                type: 'bar',
                label: 'セッション（昨年）',
                data: [
                    {% for e in channel.organicConversion %}
                    {% if forloop.counter <= 12 %}
                    {{ e }},
                    {% endif %}
                    {% endfor %}
                ],
                borderColor: "rgba(204,204,204,0.8)",
                backgroundColor: "rgba(204,204,204,0.8)",
                yAxisID: "y-axis",
            },
            {% endif %}
            {
                type: 'bar',
                label: 'セッション',
                data: [
                    {% for e in channel.organicConversion %}
                    {% if forloop.counter > 12 %}
                    {{ e }},
                    {% endif %}
                    {% endfor %}
                ],
                borderColor: "rgba(255,153,0,1)",
                backgroundColor: "rgba(255,153,0,1)",
                yAxisID: "y-axis",
            },
        ],
    };

    var options_organic_cv = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                id: "y-axis",
                type: "linear",
                position: "left",
                ticks: {
                    max: {{ data.sessionMax }},
                    min: 0,
                    stepSize: {{ data.sessionStepSize }}
                },
            }],
        }
    };

    var chart_organic_cv = new Chart(ctx_organic_cv, {
        type: 'bar',
        data: data_organic_cv,
        options: options_organic_cv
    });
</script>
{% endautoescape %}