{% extends "base.html" %}

{% load static %}

{% block head_title %}記事詳細設定 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'articles/css/detail/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'articles/js/detail/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'nav/project-nav.html' with projects=projects current=current.project %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.project.id }}/">TOP</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.project.id }}/articles/">記事管理表</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">記事詳細設定</a>
                </li>
            </ul>
            <section class="detail">
                <h2 class="detail__title">詳細設定</h2>
                <form method="post" class="detail__form" action="/{{ current.project.id }}/articles/{{ current.id }}/update/">
                    {% csrf_token %}
                    <p class="detail__item">
                        <label class="detail__label" for="id_project">プロジェクト</label>
                        <select class="detail__input" name="project" required id="id_project">
                            <option value="">---------</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}" {% if project == current.project %}selected{% endif %}>
                                {{ project.name }} | {{ project.website.domain }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_url">記事パス</label>
                        <input class="detail__input" type="text" name="path" maxlength="2083" required id="id_path"
                            placeholder="記事パス" value="{{ current.path }}">
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_title">タイトル</label>
                        <input class="detail__input" type="text" name="title" maxlength="100" required id="id_title"
                            placeholder="タイトル" value="{{ current.title }}">
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_published_at">公開日</label>
                        <input class="detail__input" type="date" name="published_at" required id="id_published_at"
                            placeholder="公開日" value="{{ current.published_at|date:'Y-m-d' }}">
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_updated_at">更新日</label>
                        <input class="detail__input" type="date" name="updated_at" required id="id_updated_at"
                            placeholder="更新日" value="{{ current.updated_at|date:'Y-m-d' }}">
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_person_in_charge">担当</label>
                        <select class="detail__input" name="person_in_charge" required id="id_person_in_charge">
                            {% for member in members %}
                            <option value="{{ member.id }}"
                                {% if member == current.person_in_charge %}selected{% endif %}>{{ member.username }} |
                                {{ member.email }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p class="detail__item">
                        <label class="detail__label" for="id_title">カテゴリ</label>
                        <input class="detail__input" type="text" name="category" maxlength="100" id="id_category"
                            placeholder="カテゴリ" value="{{ current.category }}">
                    </p>
                    <button class="detail__submit" type="submit">保存</button>
                </form>
            </section>
            <section class="keyword">
                <h2 class="keyword__title">キーワード一覧</h2>
                <form method="post" class="keyword__form" action="/{{ current.project.id }}/articles/{{ current.id }}/keywords/delete/">
                    {% csrf_token %}
                    <ul class="keyword__list">
                        <li class="keyword__item keyword__item-header">
                            <ul class="keyword__item-list">
                                <li class="keyword__item-item keyword__item-keyword">キーワード</li>
                                <li class="keyword__item-item keyword__item-volume">検索数</li>
                                <li class="keyword__item-item keyword__item-date">登録日</li>
                            </ul>
                        </li>
                        {% for keyword in keywords %}
                        <li class="keyword__item">
                            <ul class="keyword__item-list">
                                <input class="keyword__item-input" type="checkbox" name="keyword"
                                    value="{{ keyword.id }}">
                                <li class="keyword__item-item keyword__item-keyword">{{ keyword.keyword }}</li>
                                <li class="keyword__item-item keyword__item-volume">{{ keyword.volume }}</li>
                                <li class="keyword__item-item keyword__item-date">
                                    {{ keyword.registered_at|date:"Y-m-d" }}</li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    <button class="keyword__submit" type="submit">削除</button>
                </form>
            </section>
            <button id="add-keyword" class="keyword-add__btn" type="button">+ キーワード追加</button>
            <button id="remove-article" class="keyword-add__btn" type="button">記事削除</button>
            <div class="modal-container add-keyword">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <p class="keyword-add__message">キーワードを追加しますか？</p>
                        <p class="keyword-add__message">複数のキーワードを追加する場合は、改行区切りで入力してください。</p>
                        <form method="post" class="keyword-add__form" action="/{{ current.project.id }}/articles/{{ current.id }}/keywords/add/">
                            {% csrf_token %}
                            <textarea class="keyword-add__input" name="keyword" cols="40" rows="10" required=""
                                id="id_keyword"></textarea>
                            <button class="keyword-add__submit" type="submit">追加</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-container remove-article">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <p class="delete__message">記事を削除しますか？</p>
                        <form method="post" class="delete__form" action="/{{ current.project.id }}/articles/{{ current.id }}/delete/">
                            {% csrf_token %}
                            <input class="delete__input" type="hidden" name="delete" id="project_delete" value="true">
                            <button class="delete__submit" type="submit">削除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}