{% extends "base.html" %}

{% load static %}

{% block head_title %}記事管理表 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'articles/css/top/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'articles/js/top/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'nav/project-nav.html' with projects=projects current=current %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.id }}/">{{ current.name }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">記事管理表</a>
                </li>
            </ul>
            {% if articles %}
            <div class="articles">
                <ul class="articles__table">
                    <li class="articles__row head">
                        <p class="articles__item id">ID</p>
                        <p class="articles__item title">記事タイトル<br>/ URLパス</p>
                        <p class="articles__item date">公開日<br>/ 更新日</p>
                        <p class="articles__item in-charge">担当</p>
                        <p class="articles__item category">カテゴリ</p>
                        <div class="articles__item multi">
                            <p class="articles__item-top">流入数</p>
                            <ul class="articles__item-list">
                                <li class="articles__item-item session">{{ articles.0.date.5|date:"n/j" }} ~</li>
                                <li class="articles__item-item session">{{ articles.0.date.4|date:"n/j" }} ~</li>
                                <li class="articles__item-item session">{{ articles.0.date.3|date:"n/j" }} ~</li>
                                <li class="articles__item-item session">{{ articles.0.date.2|date:"n/j" }} ~</li>
                                <li class="articles__item-item session">{{ articles.0.date.1|date:"n/j" }} ~</li>
                            </ul>
                        </div>
                        <div class="articles__item multi">
                            <p class="articles__item-top">CVR</p>
                            <ul class="articles__item-list">
                                <li class="articles__item-item cvr">{{ articles.0.date.5|date:"n/j" }} ~</li>
                                <li class="articles__item-item cvr">{{ articles.0.date.4|date:"n/j" }} ~</li>
                                <li class="articles__item-item cvr">{{ articles.0.date.3|date:"n/j" }} ~</li>
                                <li class="articles__item-item cvr">{{ articles.0.date.2|date:"n/j" }} ~</li>
                                <li class="articles__item-item cvr">{{ articles.0.date.1|date:"n/j" }} ~</li>
                            </ul>
                        </div>
                        <div class="articles__item multi">
                            <p class="articles__item-top">CV数</p>
                            <ul class="articles__item-list">
                                <li class="articles__item-item cv">{{ articles.0.date.5|date:"n/j" }} ~</li>
                                <li class="articles__item-item cv">{{ articles.0.date.4|date:"n/j" }} ~</li>
                                <li class="articles__item-item cv">{{ articles.0.date.3|date:"n/j" }} ~</li>
                                <li class="articles__item-item cv">{{ articles.0.date.2|date:"n/j" }} ~</li>
                                <li class="articles__item-item cv">{{ articles.0.date.1|date:"n/j" }} ~</li>
                            </ul>
                        </div>
                        <p class="articles__item keyword">メイン対策KW</p>
                        <p class="articles__item volume">検索数
                        <div class="articles__item multi">
                            <p class="articles__item-top">検索順位</p>
                            <ul class="articles__item-list">
                                {% for keyword in articles.0.keywords %}
                                {% if forloop.first %}
                                {% for date in keyword.date %}
                                {% if date == '-' %}
                                <li class="articles__item-item ranking">-</li>
                                {% else %}
                                <li class="articles__item-item ranking">{{ date|date:"n/j" }}</li>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% empty %}
                                <li class="articles__item-item ranking">-</li>
                                <li class="articles__item-item ranking">-</li>
                                <li class="articles__item-item ranking">-</li>
                                <li class="articles__item-item ranking">-</li>
                                <li class="articles__item-item ranking">-</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p class="articles__item rw">正誤表</p>
                        <p class="articles__item page">ランクインページ</p>
                    </li>
                    {% for contents in articles %}
                    <li class="articles__row">
                        <a class="articles__link" href="/{{ current.id }}/articles/{{ contents.article.id }}/">
                            <p class="articles__item id">
                                {{ forloop.counter }}
                            </p>
                            <p class="articles__item title multi item-body">
                                <span class="articles__item-title">{{ contents.article.title }}</span>
                                <span class="articles__item-url">{{ contents.article.path }}</span>
                            </p>
                            <p class="articles__item date multi">
                                <span
                                    class="articles__item-date published">{{ contents.article.published_at|date:"y/n/j" }}</span>
                                <span
                                    class="articles__item-date updated">{{ contents.article.updated_at|date:"y/n/j" }}</span>
                            </p>
                            <p class="articles__item in-charge">
                                {{ contents.article.person_in_charge }}
                            </p>
                            <p class="articles__item category">
                                {{ contents.article.category }}
                            </p>
                        </a>
                        <p class="articles__item session">{{ contents.session.5 }}</p>
                        <p class="articles__item session">{{ contents.session.4 }}</p>
                        <p class="articles__item session">{{ contents.session.3 }}</p>
                        <p class="articles__item session">{{ contents.session.2 }}</p>
                        <p class="articles__item session">{{ contents.session.1 }}</p>
                        <p class="articles__item cvr">{{ contents.cvr.5 }}</p>
                        <p class="articles__item cvr">{{ contents.cvr.4 }}</p>
                        <p class="articles__item cvr">{{ contents.cvr.3 }}</p>
                        <p class="articles__item cvr">{{ contents.cvr.2 }}</p>
                        <p class="articles__item cvr">{{ contents.cvr.1 }}</p>
                        <p class="articles__item cv">{{ contents.cv.5 }}</p>
                        <p class="articles__item cv">{{ contents.cv.4 }}</p>
                        <p class="articles__item cv">{{ contents.cv.3 }}</p>
                        <p class="articles__item cv">{{ contents.cv.2 }}</p>
                        <p class="articles__item cv">{{ contents.cv.1 }}</p>
                        <div class="articles__item multi article-{{ forloop.counter }} keyword-list">
                            {% for keyword in contents.keywords %}
                            <ul class="articles__item-list item-body keyword-{{ forloop.counter }}">
                                <li class="articles__item-item keyword">{{ keyword.keyword }}</li>
                                <li class="articles__item-item volume">{{ keyword.volume }}</li>
                                {% for r in keyword.ranking %}
                                <li class="articles__item-item ranking">{{ r }}</li>
                                {% endfor %}
                                <li class="articles__item-item rw">{{ keyword.right_wrong }}</li>
                                <li class="articles__item-item page">{{ keyword.ranking_page }}</li>
                                {% if forloop.counter == contents.size %}
                                {% endif %}
                            </ul>
                            {% endfor %}
                            {% include 'articles/includes/management_style_2.html' with counter=forloop.counter size=contents.size %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button class="articles__add-btn" type="button">+ 入力で記事登録</button>
            <div class="modal-container">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <form method="post" class="articles__add-form">
                            {% csrf_token %}
                            <input class="articles__add-input" type="text" name="path" maxlength="2083" required
                                id="id_path" placeholder="記事URL">
                            <input class="articles__add-input" type="text" name="title" maxlength="100" required
                                id="id_title" placeholder="記事タイトル">
                            <label class="articles__add-label" for="id_published_at">公開日
                                <input class="articles__add-input input-date" type="date" name="published_at" required
                                    id="id_published_at" placeholder="公開日">
                            </label>
                            <label class="articles__add-label" for="id_published_at">更新日
                                <input class="articles__add-input input-date" type="date" name="updated_at"
                                    id="id_updated_at" placeholder="更新日">
                            </label>
                            <select class="articles__add-input" name="person_in_charge" required=""
                                id="id_person_in_charge">
                                {% for member in members %}
                                <option value="{{ member.id }}"
                                    {% if member == current.person_in_charge %}selected{% endif %}>{{ member.username }}
                                    | {{ member.email }}</option>
                                {% endfor %}
                            </select>
                            <input class="articles__add-input" type="text" name="category" maxlength="100" required
                            id="id_category" placeholder="カテゴリ">
                            <button class="articles__add-submit" type="submit">登録</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}