{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %} - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/login/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
  <div class="main__inner">
    <h1 class="main__title">
      <img class="main__title-image" src="{% static 'images/column_port_title.png' %}" alt="Column Port">
      <p class="main__title-text">
        {% if process == "connect" %}
        {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% else %}
        {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endif %}
      </p>
    </h1>
    {% if process == "connect" %}
    <p class="main__text">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <p class="main__text">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}
    <form class="main__form" method="post">
      {% csrf_token %}
      <button class="main__primaryAction" type="submit">{% trans "Continue" %}</button>
    </form>
  </div>
</main>
<style>
  .main__text {
    text-align: center;
    margin: 30px 0;
    font-size: 14px;
  }
</style>
{% endblock %}
