{% extends "base.html" %}

{% load static %}

{% block head_title %}記事管理表 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'ranking/css/ranking_all/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'ranking/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'nav/project-nav.html' with projects=projects current=current %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.id }}/">{{ current.name }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">順位レポート</a>
                </li>
            </ul>
            <section class="ranking">
                <h2 class="ranking__title">
                    <span class="ranking__favicon">
                        <img class="ranking__favicon-image"
                            src="http://www.google.com/s2/favicons?domain={{ current.website.domain }}">
                    </span>
                    <span class="ranking__title-text">{{ current.name }}</span>
                </h2>
                <p class="ranking__domain">{{ current.website.domain }}</p>
                <ul class="ranking__nav">
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link">注視ワード</a>
                    </li>
                    <li class="ranking__nav-item selected">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/all/">全キーワード</a>
                    </li>
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/range/">順位レンジ</a>
                    </li>
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/score/">順位スコア</a>
                    </li>
                </ul>
                <div class="ranking__contents">
                    {% if data %}
                    <ul class="ranking__table">
                        <li class="ranking__row head">
                            <p class="ranking__item id">ID</p>
                            <p class="ranking__item keyword">キーワード</p>
                            <p class="ranking__item volume">検索数</p>
                            <div class="ranking__item multi">
                                <p class="ranking__item-top">検索順位</p>
                                <ul class="ranking__item-list">
                                    {% for date in data.date %}
                                    <li class="ranking__item-item rank">{{ date }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p class="ranking__item page">ランクインページ</p>
                            <p class="ranking__item page">タイトルリンク</p>
                            {% for c in data.competitors %}
                            {% if forloop.first %}
                            <div class="ranking__item multi competitor">
                                <p class="ranking__item-top">競合順位</p>
                                <ul class="ranking__item-list">
                            {% endif %}
                                    <li class="ranking__item-item rank">{{ c }}</li>
                            {% if forloop.last %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </li>
                        {% for k in data.keywords %}
                        <li class="ranking__row">
                            <p class="ranking__item id">
                                {{ forloop.counter }}
                            </p>
                            <p class="ranking__item keyword">{{ k.keyword }}</p>
                            <p class="ranking__item volume">{{ k.volume }}</p>
                            {% for r in k.ranking %}
                            <p class="ranking__item rank">{% if r == 0 %}*{% else %}{{ r }}{% endif %}</p>
                            {% endfor %}
                            <p class="ranking__item page">{{ k.ranking_page }}</p>
                            <p class="ranking__item page">{{ k.title_link }}</p>
                            {% for c in k.competitors %}
                            <p class="ranking__item rank">{{ c }}</p>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </section>
            <button class="keyword__add-btn" type="button">+ 入力でキーワード登録</button>
            <div class="modal-container add">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <form method="post" class="keyword__add-form" action="/{{ current.id }}/reports/ranking/all/add/">
                            {% csrf_token %}
                            <textarea class="keyword__add-input" name="keyword" cols="40" rows="10" required
                                id="id_keyword" placeholder="キーワード（複数可）"></textarea>
                            <label class="keyword__add-label" for="articles">記事（任意）
                                <select class="keyword__add-input input-date" name="article" required id="articles">
                                    <option hidden>選択してください</option>
                                    {% for article in articles %}
                                    <option value="{{ article.id }}">
                                        {{ article.path }} |
                                        {{ article.title }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <button class="keyword__add-submit" type="submit">登録</button>
                        </form>
                    </div>
                </div>
            </div>
            <button class="keyword__delete-btn" type="button">- キーワード削除</button>
            <div class="modal-container delete">
                <div class="modal-body delete">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <form method="post"  class="keyword__delete-form" action="/{{ current.id }}/reports/ranking/all/delete/">
                            {% csrf_token %}
                            <p class="keyword__text">キーワードを削除する場合は、記事管理表からもランキング情報が削除されます。</p>
                            <ul class="keyword__list">
                                <li class="keyword__item keyword__item-header">
                                    <ul class="keyword__item-list">
                                        <li class="keyword__item-item keyword__item-keyword">キーワード</li>
                                        <li class="keyword__item-item keyword__item-volume">検索数</li>
                                    </ul>
                                </li>
                                {% for keyword in keywords %}
                                <li class="keyword__item">
                                    <ul class="keyword__item-list">
                                        <input class="keyword__item-input" type="checkbox" name="keyword" value="{{ keyword.id }}">
                                        <li class="keyword__item-item keyword__item-keyword">{{ keyword.keyword }}</li>
                                        <li class="keyword__item-item keyword__item-volume">{{ keyword.volume }}</li>
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                            <button class="keyword__delete-submit" type="submit">削除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}