{% extends "base.html" %}

{% load static %}

{% block head_title %}記事管理表 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'ranking/css/ranking_score/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'ranking/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'nav/project-nav.html' with projects=projects current=current %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.id }}/">{{ current.name }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">順位レポート</a>
                </li>
            </ul>
            <section class="ranking">
                <h2 class="ranking__title">
                    <span class="ranking__favicon">
                        <img class="ranking__favicon-image"
                            src="http://www.google.com/s2/favicons?domain={{ current.website.domain }}">
                    </span>
                    <span class="ranking__title-text">{{ current.name }}</span>
                </h2>
                <p class="ranking__domain">{{ current.website.domain }}</p>
                <ul class="ranking__nav">
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link">注視ワード</a>
                    </li>
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/all/">全キーワード</a>
                    </li>
                    <li class="ranking__nav-item">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/range/">順位レンジ</a>
                    </li>
                    <li class="ranking__nav-item selected">
                        <a class="ranking__nav-link" href="/{{ current.id }}/reports/ranking/score/">順位スコア</a>
                    </li>
                </ul>
                {% if score %}
                <form method="post" class="ranking__contents">
                    {% csrf_token %}
                    {% include 'ranking/includes/chart_score.html' with score=score current=current %}
                    <ul class="ranking__table">
                        <li class="ranking__row head">
                            <p class="ranking__item range">サイト</p>
                            {% for date in score.date %}
                            <p class="ranking__item date">{{ date }}</p>
                            {% endfor %}
                        </li>
                        <li class="ranking__row first">
                            <input class="ranking__input" type="color" name="project_color" value="{{ current.color }}">
                            <p class="ranking__item range">{{ current.website.domain }}</p>
                            {% for s in score.score %}
                            <p class="ranking__item date">{{ s }}</p>
                            {% endfor %}
                        </li>
                        {% for c in score.competitors %}
                        <li class="ranking__row competitor">
                            <input class="ranking__input" type="color" name="{{ c.name }}" value="{{ c.color }}">
                            <p class="ranking__item range">{{ c.name }}</p>
                            {% for s in c.score %}
                            <p class="ranking__item date">{{ s }}</p>
                            {% endfor %}
                        </li>
                        {% endfor %}
                        <li class="ranking__row">
                            <p class="ranking__item range">合計KW数</p>
                            {% for t in score.total %}
                            <p class="ranking__item date">{{ t }}</p>
                            {% endfor %}
                        </li>
                    </ul>
                    <button class="ranking__submit" type="submit">変更</button>
                </form>
                {% endif %}
            </section>
        </div>
    </div>
</main>
{% endblock %}