{% extends "base.html" %}
{% load static %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'projects/css/report/style.css' %}">
<title>月次レポート - カラムポート(Column Port)</title>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'projects/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% endblock %}

{% block main %}
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__title" href="">プロジェクト</a>
            <ul class="nav__sub-list">
                <li class="nav__sub-item">
                    <a class="nav__sub-link" href="{% url 'project_list' %}">プロジェクト管理</a>
                </li>
                <li class="nav__sub-item">
                    <a class="nav__sub-link" href="{% url 'project_new' %}">新規プロジェクト登録</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__title" href="">詳細レポート</a>
            <ul class="nav__sub-list">
                <li class="nav__sub-item">
                    <a class="nav__sub-link" href="/projects/{{ id }}/reports/weekly/">週次レポート</a>
                </li>
                <li class="nav__sub-item">
                    <a class="nav__sub-link" href="/projects/{{ id }}/reports/monthly/">月次レポート</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__title" href="">Keyword Researcher</a>
        </li>
        <li class="nav__item">
            <a class="nav__title" href="">設定</a>
            <ul class="nav__sub-list">
                <li class="nav__sub-item">マイページ</li>
                <li class="nav__sub-item">その他</li>
            </ul>
        </li>
    </ul>
</nav>
<div class="contents">
    <seciton class="main__section">
        <h2 class="main__title">流入レポート_サイト全体（週次）</h2>
        <section class="main__part">
            <h3 class="main__part-title">全チャネル</h3>
            {% include 'projects/include/chart_all.html' with data=data.all %}
            {% include 'projects/include/chart_channel.html' with data=data.channel %}
        </section>
    </seciton>
    <section class="main__section">
        <h2 class="main__title">流入レポート_ディレクトリ別（週次）</h2>
        <section class="main__part">
            <h3 class="main__part-title">自然検索流入</h3>
            {% for e in data.regex %}
            {% include 'projects/include/chart_dir.html' with id=forloop.counter regex=e.regex data=e.data %}
            {% endfor %}
        </section>
        <div id="chart_directory"></div>
    </section>
    <br><br>
    <form method="post" class="main__form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">追加</button>
    </form>
</div>
</seciton>
{% endblock %}