{% extends "base.html" %}

{% load static %}

{% block head_title %}メンバー一覧 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'projects/css/settings/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'projects/js/settings/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'nav/project-nav.html' with projects=projects current=current %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/">TOP</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/{{ current.id }}/">{{ current.name }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">プロジェクト設定</a>
                </li>
            </ul>
            <section class="analytics">
                <h2 class="analytics__title">Google Analytics アカウント情報</h2>
                <form method="post" class="analytics__form" action="/{{ current.id }}/settings/analytics/">
                    {% csrf_token %}
                    <p class="analytics__item">
                        <label class="analytics__label" for="id_accountId">アカウントID</label>
                        <input class="analytics__input" type="text" name="account_id" maxlength="20" required
                            id="id_accountId" placeholder="123456789" {% if not role == 'admin' %}readonly{% endif %}
                            value="{% if current.account_id %}{{ current.account_id }}{% endif %}">
                    </p>
                    <p class="analytics__item">
                        <label class="analytics__label" for="id_propertyId">プロパティID</label>
                        <input class="analytics__input" type="text" name="property_id" maxlength="30" required
                            id="id_propertyId" placeholder="UA-123456789-1"
                            {% if not role == 'admin' %}readonly{% endif %}
                            value="{% if current.property_id %}{{ current.property_id }}{% endif %}">
                    </p>
                    <p class="analytics__item">
                        <label class="analytics__label" for="id_viewId">ビューID</label>
                        <input class="analytics__input" type="text" name="view_id" maxlength="30" required id="id_viewId"
                            {% if not role == 'admin' %}readonly{% endif %} placeholder="234567891"
                            value="{% if current.view_id %}{{ current.view_id }}{% endif %}">
                    </p>
                    {% if role == 'admin' %}
                    <button class="analytics__submit" type="submit">保存</button>
                    {% endif %}
                </form>
            </section>
            <section class="member">
                <h2 class="member__title">メンバーリスト</h2>
                <form method="post" class="member__form" action="/{{ current.id }}/settings/members/delete/">
                    {% csrf_token %}
                    <ul class="member__list">
                        <li class="member__item member__item-header">
                            <ul class="member__item-list">
                                <li class="member__item-item member__item-role">役割</li>
                                <li class="member__item-item member__item-username">名前</li>
                                <li class="member__item-item member__item-email">メールアドレス</li>
                            </ul>
                        </li>
                        {% for member in members %}
                        <li class="member__item">
                            <ul class="member__item-list">
                                {% if member.role == 'admin' %}
                                <li class="member__item-item member__item-role">管理者</li>
                                {% elif member.role == 'member' %}
                                {% if role == 'admin' %}
                                <input class="member__item-input" type="checkbox" name="member"
                                    value="{{ member.member.email }}">
                                {% endif %}
                                <li class="member__item-item member__item-role">メンバー</li>
                                {% endif %}
                                <li class="member__item-item member__item-username">{{ member.member.username }}</li>
                                <li class="member__item-item member__item-email">{{ member.member.email }}</li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if role == 'admin' %}
                    <button class="member__submit" type="submit">削除</button>
                    {% endif %}
                </form>
            </section>
            <section class="competitor">
                <h2 class="competitor__title">競合サイト一覧</h2>
                <form method="post" class="competitor__form" action="/{{ current.id }}/settings/competitors/delete/">
                    {% csrf_token %}
                    <ul class="competitor__list">
                        <li class="competitor__item member__item-header">
                            <ul class="competitor__item-list">
                                <li class="competitor__item-item competitor__item-domain">競合サイト名</li>
                                <li class="competitor__item-item competitor__item-domain">ドメイン名</li>
                            </ul>
                        </li>
                        {% for competitor in competitors %}
                        <li class="competitor__item">
                            <ul class="competitor__item-list">
                                {% if role == 'admin' %}
                                <input class="competitor__item-input" type="checkbox" name="competitor"
                                    value="{{ competitor.competitor.domain }}">
                                {% endif %}
                                <li class="competitor__item-item competitor__item-domain">{{ competitor.name }}</li>
                                <li class="competitor__item-item competitor__item-domain">
                                    {{ competitor.competitor.domain }}</li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if role == 'admin' %}
                    <button class="competitor__submit" type="submit">削除</button>
                    {% endif %}
                </form>
            </section>
            {% if role == 'admin' %}
            <button id="add-member" class="add__btn" type="button">+ 新規メンバー追加</button>
            <div class="modal-container add-member">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <p class="member-add__message">追加するメンバーのメールアドレスを入力してください。</p>
                        <form method="post" class="member-add__form" action="/{{ current.id }}/settings/members/">
                            {% csrf_token %}
                            <input class="member-add__input" type="email" name="email" placeholder="メールアドレス"
                                autocomplete="email" required="" id="id_email">
                            <label class="member-add__label" for="role">役割
                                <select class="member-add__input input-role" name="role" required id="role">
                                    <option value="admin">管理者</option>
                                    <option value="member" selected>メンバー</option>
                                </select>
                            </label>
                            <button class="member-add__submit" type="submit">追加</button>
                        </form>
                    </div>
                </div>
            </div>
            <button id="add-competitor" class="add__btn" type="button">+ 競合サイト追加</button>
            <div class="modal-container add-competitor">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <p class="competitor-add__message">追加する競合サイトのドメイン名/サイト名を入力してください。</p>
                        <form method="post" class="competitor-add__form" action="/{{ current.id }}/settings/competitors/">
                            {% csrf_token %}
                            <input type="text" class="competitor-add__input" name="domain" maxlength="2083"
                                placeholder="ドメイン名" required id="id_domain">
                            <input type="text" class="competitor-add__input" name="name" maxlength="100"
                                placeholder="競合サイト名" required id="id_name">
                            <button class="competitor-add__submit" type="submit">追加</button>
                        </form>
                    </div>
                </div>
            </div>
            <button id="delete-project" class="add__btn" type="button">プロジェクト削除</button>
            <div class="modal-container delete-project">
                <div class="modal-body">
                    <div class="modal-close">×</div>
                    <div class="modal-content">
                        <p class="delete__message">プロジェクトを削除しますか？</p>
                        <form method="post" class="delete__form" action="/{{ current.id }}/settings/delete/">
                            {% csrf_token %}
                            <input class="delete__input" type="hidden" name="delete" id="project_delete" value="true">
                            <button class="delete__submit" type="submit">削除</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}