{% extends "base.html" %}

{% load static %}

{% block head_title %}プロジェクト一覧 - カラムポート(Column Port){% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'projects/css/top/style.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'projects/js/top/script.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__inner">
        {% include 'projects/includes/nav.html' with projects=projects current=current %}
        <div class="contents">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/">TOP</a>
                </li>
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link">{{ current.name }}</a>
                </li>
            </ul>
            <section class="project">
                <h2 class="project__title">
                    <span class="project__favicon">
                        <img class="project__favicon-image"
                            src="http://www.google.com/s2/favicons?domain={{ current.domain }}">
                    </span>
                    <span class="project__title-text">{{ current.name }}</span>
                </h2>
                <p class="project__domain">{{ current.domain }}</p>
                <ul class="project__nav">
                    <li class="project__item">
                        <a class="project__link" href="/projects/{{ current.id }}/article-manager/">記事管理表</a>
                    </li>
                    <li class="project__item">
                        <a class="project__link" id="delete-project" href="">プロジェクト設定</a>
                    </li>
                    <li class="project__item">
                        <a class="project__link" href="/projects/{{ current.id }}/members/">メンバー管理</a>
                    </li>
                </ul>
                <section class="health-check">
                    <h2 class="health-check__title">- ヘルスチェック -</h2>
                    <dl class="health-check__list">
                        <dt class="health-check__dt">2022/06/22</dt>
                        <dd class="health-check__dd">リンク切れが検出されました</dd>
                        <dt class="health-check__dt">2022/06/21</dt>
                        <dd class="health-check__dd">リンク切れが検出されました</dd>
                        <dt class="health-check__dt">2022/06/20</dt>
                        <dd class="health-check__dd">titleタグのないURLが検出されました</dd>
                    </dl>
                    <a class="health-check__link" href="">> 一覧へ</a>
                </section>
                <section class="session">
                    <h2 class="session__title">- 流入レポート -</h2>
                    <div class="dummy"></div>
                    <ul class="session__list">
                        <li class="session__item">
                            <a class="session__link">月次レポート</a>
                        </li>
                        <li class="session__item">
                            <a class="session__link">週次レポート</a>
                        </li>
                        <li class="session__item">
                            <a class="session__link">日次レポート</a>
                        </li>
                    </ul>
                </section>
                <section class="ranking">
                    <h2 class="ranking__title">- 順位レポート -</h2>
                    <div class="dummy"></div>
                    <ul class="ranking__list">
                        <li class="ranking__item">
                            <a class="ranking__link">注視ワード</a>
                        </li>
                        <li class="ranking__item">
                            <a class="ranking__link">全キーワード</a>
                        </li>
                    </ul>
                    <div class="dummy"></div>
                    <ul class="ranking__list">
                        <li class="ranking__item">
                            <a class="ranking__link">順位レンジ</a>
                        </li>
                        <li class="ranking__item">
                            <a class="ranking__link">順位スコア</a>
                        </li>
                    </ul>
                </section>
            </section>
        </div>
        <div class="modal-container">
            <div class="modal-body">
                <div class="modal-close">×</div>
                <div class="modal-content">
                    <p class="delete__message">プロジェクトを削除しますか？</p>
                    <form method="post" class="delete__form">
                        {% csrf_token %}
                        <input class="delete__input" type="hidden" name="delete" id="project_delete" value="true">
                        <button class="delete__submit" type="submit">削除</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}