{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static '/favicon.ico' %}">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>

<body class="body">
    {% block body %}
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                <img class="header__title-image" src="{% static 'images/column_port_logo.svg' %}" alt="Column Port">
            </h1>
            <nav class="header__nav">
                {% if user.is_authenticated %}
                <div class="header__user">
                    <a class="header__user-link">
                        <img class="header__user-icon" src="{% static 'images/user.png' %}">
                        <p class="header__user-name">{{ request.user }}</p>
                    </a>
                </div>
                <div class="header__popup">
                    <div class="header__popup-user">
                        <img class="header__popup-icon" src="{% static 'images/user.png' %}">
                        <p class="header__popup-name">{{ request.user }}</p>
                    </div>
                    <ul class="header__popup-list">
                        <li class="header__popup-item">
                            <a class="header__popup-link" href="/">マイページ</a>
                        </li>
                        <li class="header__popup-item">
                            <a class="header__popup-link" href="{% url 'account_logout' %}">ログアウト</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link login" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link signup" href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer__inner">
            <p class="footer__copyright">&copy; 2022 Refunc Inc. All right reserves.</p>
        </div>
    </footer>
    {% endblock %}
</body>

</html>