<article class="graph__container">
    <h3 class="graph__title">チャネル別セッション数</h3>
    <canvas id="chart_channel" class="graph__chart"></canvas>
</article>
{% autoescape off %}
<script>
    ctx_channel = document.getElementById("chart_channel").getContext("2d");

    var data_channel = {
        labels: {{ data.labels }},
        datasets: [
            {
                label: 'Direct',
                data: {{ data.directData }},
                borderColor: "rgba(254,97,132,0.8)",
                pointBackgroundColor: "rgba(254,97,132,0.8)",
                fill: false,
            },
            {
                label: 'Organic Search',
                data: {{ data.organicData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Paid Search',
                data: {{ data.paidData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Referral',
                data: {{ data.referralData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Display',
                data: {{ data.displayData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Social',
                data: {{ data.socialData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Email',
                data: {{ data.emailData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            },
            {
                label: 'Others',
                data: {{ data.othersData }},
                borderColor: "rgba(54,164,235,0.8)",
                backgroundColor: "rgba(54,164,235,0.5)",
                fill: false,
            }
        ],
    };

    var options_channel = {
        responsive: true,
        scales: {
            yAxes: [{
                type: "linear",
                position: "left",
                ticks: {
                    max: {{ data.max }},
                    min: 0,
                    stepSize: {{ data.stepSize }}
                }
            }]
        }
    };
    
    var chart_channel = new Chart(ctx_channel, {
        type: 'line',
        data: data_channel,
        options: options_channel
    });
</script>
{% endautoescape %}