@charset "utf-8";
/* ==========================================================================
 Color Guide
============================================================================*/
//Base Color
$clr-base: #00bfb3;

//Font Color
$clr-font01: #000000;
$clr-font02: #ffffff;
$clr-font03: #555555;
$clr-font04: #144a6e;
$clr-font05: #a8c4d7;
$clr-font06: #d5e2eb;
$clr-font07: #d96738;
$clr-font08: #f7e3da;
$clr-font09: #48b0c7;

//Link Color
$clr-link1: #1055cd;

//Background Color
$clr-bg01: #ebebec;
$clr-bg02: #ffffff;
$clr-bg03: #bebebe;
$clr-bg04: #000769;
$clr-bg05: #000edb;
$clr-bg06: #f5a904;
$clr-bg07: #d7dadd;
$clr-bg08: #f6f9fa;
$clr-bg09: #144a6e;
$clr-bg10: #a8c4d7;
$clr-bg11: #d5e2eb;
$clr-bg12: #d96738;
$clr-bg13: #f7e3da;
$clr-bg14: #48b0c7;
$clr-bg15: #b6b6b7;
$clr-bg16: #D96738;
$clr-bg17: #48B0C7;

//Border Color
$clr-bd01: #b6b6b7;
$clr-bd02: #f5a904;
$clr-bd03: #d09b52;
$clr-bd04: #c9c9c9;
$clr-bd05: #144a6e;
$clr-bd06: #a8c4d7;
$clr-bd07: #d5e2eb;
$clr-bd08: #d96738;
$clr-bd09: #f7e3da;
$clr-bd10: #48b0c7;
$clr-bd11: #555555;

//Table Color
$clr-tbl-bd01: #555555;
