@charset "UTF-8";

.main {
  width: 100%;
  height: auto;

  .nav {
    width: 240px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    border-right: 1px solid $clr-bd04;
    padding-top: 10px;
    font-size: 1.5rem;
    background-color: $clr-bg02;

    .nav__item {
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid $clr-bd04;
    }

    .nav__title {
      display: inline-block;
      padding-right: 15px;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      color: $clr-font01;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: calc(50% - 6px);
        width: 8px;
        height: 8px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .nav__sub-list {
      padding: 5px 0 0 5px;

      .nav__sub-item {
        padding: 5px;
      }

      .nav__sub-link {
        text-decoration: none;
        color: $clr-font01;
      }
    }
  }

  .contents {
    width: calc(100% - 240px);
    height: auto;
    min-height: calc(100vh - 60px);
    margin-left: 240px;
    padding: 20px;
    position: absolute;
    top: 60px;

    .breadcrumb__list {
      display: flex;
      color: $clr-font03;
      font-size: 2rem;
      margin: 0 0 20px 0;
      padding: 0;

      .breadcrumb__item {
        list-style: none;
        margin-right: 30px;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -22px;
          top: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-top: 2px solid $clr-bd11;
          border-right: 2px solid $clr-bd11;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:first-of-type::after {
          display: none;
        }

        .breadcrumb__link {
          color: $clr-font03;
          text-decoration: none;
        }
      }
    }

    .ranking{
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
      background-color: white;
      position: relative;
      padding: 30px 20px;
      font-size: 1.5rem;
      margin-bottom: 25px;

      .ranking__title {
        color: $clr-font04;
        font-size: 2.25rem;
        line-height: 2.25rem;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .ranking__favicon {
          width: 2.25rem;
          height: 2.25rem;
          display: block;
          border: 1px solid $clr-font03;
          border-radius: 5px;
          margin-right: 10px;
        }

        .ranking__favicon-image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .ranking__domain {
        color: $clr-font03;
        margin-bottom: 25px;
      }

      .ranking__nav {
        display: flex;
        margin-bottom: 25px;
      }

      .ranking__nav-item {
        color: $clr-font03;
        font-size: 1.5rem;
        list-style: none;
        border: solid 2px $clr-bd01;
        border-radius: 5px;
        margin-right: 15px;

        &.selected {
          border-color: #333;

          .ranking__nav-link {
            background-color: $clr-bg09;
            color: white;
          }
        }
      }

      .ranking__nav-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        padding: 5px 40px;
      }

      .graph {
        margin: 15px 0 50px;
  
        .graph__title {
          font-size: 1.8rem;
          font-weight: normal;
        }
  
        .graph__chart {
          height: 400px;
        }
      }
    }

    .ranking__contents {
      margin-left: 15px;
      margin-bottom: 15px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 0;
        height: 2px;
      }

      &::-webkit-scrollbar-track {
          border-radius: 5px;
          background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
          background: rgba($clr-bg09, 0.8);
          border-radius: 5px;
      }

      .ranking__table {
        background-color: white;
        margin: 0 0 0 65px;
        padding: 0;
        display: inline-block;
        border-top: solid 1px $clr-bd05;
        box-sizing: border-box;

        .ranking__row {
          list-style: none;
          display: flex;
          align-items: center;
          width: auto;
          border-right: solid 1px $clr-bd05;
          border-left: solid 1px $clr-bd05;
          box-sizing: border-box;
          height: 40px;
          position: relative;

          &.first {
            border-top: none;
          }

          &.competitor {
            border-top: dashed 1px $clr-bd05;
          }

          &:last-child {
            color: rgba(0, 0, 0, 0.5);
            border-top: solid 1px $clr-bd05;
            border-right: none;
            border-left: none;
            border-bottom: none;

            .ranking__item {
              border: none;
            }
          }

          &.head {
            height: 60px;
            color: white;
            background-color: $clr-bg09;

            .ranking__item {
              height: 100%;
              border-left: solid 1px white;
              box-sizing: border-box;
              
              &.range {
                border-left: none;
              }
            }
          }

          .ranking__item {
            min-height: 100%;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: dashed 1px $clr-bd05;
            box-sizing: border-box;
            margin: 0;

            &.range {
              border-left: none;
            }
          }
        }

        .range {
          width: 250px;
        }

        .date {
          width: 50px;
        }

        .ranking__input {
          position: absolute;
          left: -50px;
          width: 40px;
        }
      }

      .ranking__submit {
        padding: 7px 10px;
        border-radius: 5px;
        background: #144a6e;
        color: #ffffff;
        width: 60px;
        font-weight: 800;
        font-size: 1.4rem;
        letter-spacing: 1.8pt;
        display: block;
        cursor: pointer;
        position: relative;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        margin: 15px 0 0 5px;
      }
    }
  }
}